.body,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  flex-direction: row;
  gap: 50px;
}

.body__title {
  font-size: 100px;
}

.main__table {
  border: 3px solid #cccccc;
  padding: 1px;
  border-radius: 5px;
  border-collapse: collapse;
}

th,
td,
.main__table__cell {
  border: 1px solid black;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

th {
  border-color: #cccccc;
  background-color: #aaaaaa;
  border-bottom: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.detals {
  border: 3px solid gray;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px 5px;
} 

.car-section__text,
.wrapper__text {
  font-size: 17px;
  padding: 0px;
  margin: 0px;
  margin-right: 5px;
}

.car {
  border-radius: 3px;
  margin-left: 15px;

}

.car-wrapper__section,
.car__wrapper__section {
  display: flex;
}

.active-row {
  background-color: #ffff00;
}
